.Header {
  /* background-color: rgb(76, 150, 247); */
  background-color: rgb(66, 201, 245);
  padding: 3% 0% 2% 2%;
  font-size: calc(10px + 1.5vw);
  margin-bottom: 4%;
  display: flex;
  align-items: flex-end;
}

.Header img {
  width: 15%;
  margin: 0;
}

.Header h1 {
  margin-bottom: 2%;
  margin-left: 1%;
}

.Content {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  margin-right: 5%;
  width: 200px;
  padding-right: 20px;
}

.SortFilter {
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(182, 181, 181);
  border-radius: 12px;
  width: 200px;
  padding: 5% 5% 10px 15px;
  /* position: -webkit-sticky;
  position: sticky;
  top: 0; */
  align-self: flex-start;
}

.Cart {
  margin-top: 20px;
  padding: 5% 5% 15px 15px;
  border: 2px solid rgb(182, 181, 181);
  border-radius: 12px;
  width: 200px;
  /* position: -webkit-sticky;
  position: sticky;
  top: 540px; */
  align-self: flex-start;
}

img {
  border-radius: 25px 25px 0px 0px;
  padding: 0;
  width: 100%;
}

.Items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
}

.ItemCard {
  background-color: blanchedalmond;
  margin: 0 3% 4% 3%;
  border-radius: 25px;
  width: 30vh;
  min-width: 300px;
  position: relative;
  height: 30vw;
  min-height: 520px;
}

.BottomRow {
  position: absolute;
  bottom: 0;
  padding-bottom: 500;
  width: 100%;
}

.ItemButtons {
  display: flex;
  justify-content: space-between;
  padding: 0% 8% 5% 6%;
}

.Heart:hover {
  cursor: pointer;
}

.itemCart {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.Cart h2 {
  margin-top: 0%;
  margin-bottom: 2%;
  color: rgb(102, 102, 102);
}

.plusMinus,
.Cart h3 {
  color: rgb(102, 102, 102);
}

.NoItems {
  color: rgb(58, 58, 58);
}

.ItemContent {
  padding: 0% 5% 5% 5%;
}

.ItemCard h3 {
  margin: 2% 0%;
}

.ItemCard h4 {
  margin: 2% 0%;
  font-weight: normal;
}

#demo-controlled-radio-buttons-group {
  font-size: large;
  font-weight: bold;
}

.Cart h3 {
  margin-top: 4%;
}

footer {
  margin: 30px 0 1% 2%;
}

footer p {
  margin: 4px;
}
